.advantages-item:nth-child(2)::before {
  background-image: url(../img/advantages/clock\ 1.svg);
}
.advantages-item:nth-child(3)::before {
  background-image: url(../img/advantages/diagram\ 1.svg);
}
.advantages-item:nth-child(4)::before {
  background-image: url(../img/advantages/astronaut\ 1.svg);
}
.advantages-list {
  display: flex;
  gap: 30px;
}
.advantages {
  padding-top: 95px;
  padding-bottom: 95px;
}
.advantages-title {
  font-weight: 700;
  color: $color-first-logo;
}
.advantages-text {
  color: $color-text-main;
}
