.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $color-bg-primary;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-container {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 70px;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: $color-second-logo;
  padding-bottom: 20px;
  padding-top: 60px;
}
.logo-white {
  line-height: 1.19;
  font-weight: 700;
  font-family: $font-secondary;
  color: $color-header-bord;
  font-size: 26px;
  padding-bottom: 20px;
  padding-top: 60px;
}
.footer-contacts {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  padding-bottom: 9px;
}
.footer-contacts-link {
  color: $color-header-bord;
  --font-primary: "Roboto", serif;
  padding-bottom: 9px;
  text-align: center;
}
.subscribe-title {
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $color-header-bord;
  margin-bottom: 20px;
  text-align: center;
}
.form {
  display: flex;
  gap: 12px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-button {
  width: 200px;
  height: 50px;
  padding: 10px 28px;
  @extend %button;
}
.form-input {
  border: 1px solid $color-text-add;
  border-radius: 4px;
  min-height: 50px;
  max-width: 450px;
  min-width: 290px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: rgba(33, 150, 243, 0);
}
.footer-join {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $color-header-bord;
}
.footer-social-networks-container {
  display: flex;
  flex-direction: row;
}
.footer-social-networks-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: $color-social-networks;
  border-radius: 54px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-networks-link:hover {
  fill: $color-header-bord;
  background-color: $color-second-logo;
}
.footer-social-networks-link:hover .team-social-networks {
  fill: $color-header-bord;
  background-color: $color-second-logo;
  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-networks {
  width: 20px;
  height: 20px;
  fill: $color-header-bord;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-networks:hover {
  fill: $color-header-bord;
}
