.header {
  padding-top: 16px;
  padding-bottom: 16px;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-portfolio {
  border-bottom: 1px solid $color-header-border;
}
.header__logo {
  font-family: $font-secondary;
  font-size: 24px;
  color: $color-second-logo;
}
.logo-black {
  font-family: $font-secondary;
  color: $color-first-logo;
}
.navigation {
  flex-grow: 1;
}

.nav__list {
  display: flex;
  gap: 32px;
  flex-direction: column;
}

.header__contacts-list {
  display: flex;
  flex-direction: column-reverse;
}

.nav-link {
  font-weight: 500;
  font-size: 40px;
  color: $color-text-title;
  letter-spacing: 0.02em;
  position: relative;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover {
  color: $color-second-logo;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 20px;
  width: 100%;
  height: 8px;
  background-color: $color-second-logo;
  border-radius: 4px;
  opacity: 0;
  transform: scaleX(0);
  transition-property: opacity, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover::after {
  display: flex;
  opacity: 1;
  transform: scaleX(1);
}
.header__contacts-container {
  display: flex;
  align-items: center;
}
.header-contacts-icon {
  display: flex;
  fill: $color-text-title;
  width: 16px;
  height: 13px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address {
  font-size: 34px;
  display: flex;
  font-weight: 500;
  color: $color-text-main;
  letter-spacing: 0.02em;
  margin-top: 302px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.address-email {
  font-size: 24px;
  display: flex;
  font-weight: 500;
  color: $color-text-main;
  letter-spacing: 0.02em;
  margin-top: 32px;
  margin-bottom: 0px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.address:hover {
  display: flex;
  color: $color-second-logo;
}
.address-email:hover {
  display: flex;
  color: $color-second-logo;
}
.address:hover .header-contacts-icon {
  fill: $color-second-logo;
}

.social-menu-list {
  display: flex;
  gap: 20px;
  margin-bottom: 24px;
}

.social-menu {
  font-size: 18px;
  color: $color-second-logo;
  text-decoration: none;
  height: 20px;
  width: 1px;
}

.social-menu-item::after {
  content: "|";
  color: rgba(33, 33, 33, 0.2);
}

.social-menu-item:last-child::after {
  content: "";
}
.menu-toggle {
  position: relative;
  display: block;
  z-index: 99999;
  width: 30px;
  height: 30px;
}
.menu-check {
  display: none;
}
.menu-toggle::before,
.menu-toggle::after {
  content: "";
}

.menu-toggle::before,
.menu-toggle__line,
.menu-toggle::after {
  width: 100%;
  height: 2px;
  background-color: #030303;
  position: absolute;
  left: 0;
  transition: 0.5s linear;
  transition-property: top, transform;
}

.menu-toggle::before {
  top: 0;
}

.menu-toggle__line {
  top: calc(40% - 1px);
}

.menu-toggle::after {
  top: calc(90% - 2px);
}

.menu-check:checked ~ .menu-toggle {
  &::before {
    top: calc(50% - 1px);
    transform: translateX(calc(50% - 1px));
  }
  .menu-toggle__line {
    transform-origin: left;
    transform: translateX(calc(50% - 1px));
  }
  &::after {
    top: calc(50% - 1px);
    transform: translateX(calc(50% - 1px));
  }
}
@media (max-width: 767px) {
  .menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 32px;
    background-color: #ffff;
    z-index: 999;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
  }
  .mobile-menu__check:checked ~ .menu-container {
    transform: translateX(0);
  }
}
@media (min-width: 768px) {
  .mobile-menu__label {
    display: none;
  }
  .mobile-menu__check {
    display: none;
  }
  .nav__list {
    flex-direction: row;
  }

  .header__contacts-list {
    gap: 10px;
  }

  .nav-link {
    padding: 0;
    font-weight: 500;
    font-size: 40px;
    color: $color-text-title;
    letter-spacing: 0.02em;
    position: relative;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link:hover {
    color: $color-second-logo;
  }

  .nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 20px;
    height: 8px;
    background-color: $color-second-logo;
    border-radius: 4px;
    opacity: 0;
    transform: scaleX(0);
    transition-property: opacity, transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link:hover::after {
    display: flex;
    opacity: 1;
    transform: scaleX(1);
  }
  .header-contacts-container {
    display: flex;
    align-items: center;
  }
  .header-contacts-icon {
    display: flex;
    fill: $color-text-title;
    width: 16px;
    height: 13px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .address {
    font-size: 34px;
    display: flex;
    font-weight: 500;
    color: $color-text-main;
    letter-spacing: 0.02em;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .address-email {
    font-size: 24px;
    display: flex;
    font-weight: 500;
    color: $color-text-main;
    letter-spacing: 0.02em;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .address:hover {
    display: flex;
    color: $color-second-logo;
  }
  .address-email:hover {
    display: flex;
    color: $color-second-logo;
  }
  .address:hover .header-contacts-icon {
    fill: $color-second-logo;
  }

  .nav-container {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .social-menu-list {
    display: none;
  }
}

@media (min-width: 1200px) {
  .nav__list {
    display: flex;
    flex-direction: row;
  }

  .header__contacts-list {
    display: flex;
    flex-direction: row;
  }

  .nav-link {
    padding: 0;
    font-weight: 500;
    font-size: 40px;
    color: $color-text-title;
    letter-spacing: 0.02em;
    position: relative;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link:hover {
    color: $color-second-logo;
  }

  .nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 20px;
    height: 8px;
    background-color: $color-second-logo;
    border-radius: 4px;
    opacity: 0;
    transform: scaleX(0);
    transition-property: opacity, transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link:hover::after {
    display: flex;
    opacity: 1;
    transform: scaleX(1);
  }
  .header__contacts-container {
    display: flex;
    align-items: center;
  }
  .header-contacts-icon {
    display: flex;
    fill: $color-text-title;
    width: 16px;
    height: 13px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .address {
    font-size: 34px;
    display: flex;
    font-weight: 500;
    color: $color-text-main;
    letter-spacing: 0.02em;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .address-email {
    font-size: 24px;
    display: flex;
    font-weight: 500;
    color: $color-text-main;
    letter-spacing: 0.02em;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .address:hover {
    display: flex;
    color: $color-second-logo;
  }
  .address-email:hover {
    display: flex;
    color: $color-second-logo;
  }
  .address:hover .header-contacts-icon {
    fill: $color-second-logo;
  }

  .nav-container {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .social-menu-list {
    display: none;
  }
}
