.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: $color-bg-primary;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4)),
    url(../img/hero/hero\ img.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-position: center;
  width: 100%;
}
.hero-title {
  color: $color-header-bord;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.3;
  display: flex;
  justify-content: center;
  max-width: 612px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0, 06em;
}
.hero-button {
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 10px;
  padding-bottom: 10px;
  @extend %button;
}
