.product {
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.product:hover {
  box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06),
    0 1px 1px 0 rgba(0, 0, 0, 0.12);
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding-top: 50px;
  @include vertical-padding;
}
.project {
  position: relative;
  overflow: hidden;
}
.project-overlay {
  position: absolute;
  inset: 0;
  background-color: $color-second-logo;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(100%);
  transition-duration: 250ms;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .project-overlay {
  transform: translateY(0);
}
.project-text-overlay {
  max-width: 322px;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.03em;
  color: $color-header-bord;
  padding: 63px, 24px;
}
.portfolio-item {
  color: $color-second-logo;
}
.portfolio-item {
  background-color: $color-header-bord;
  flex-basis: calc((100% - 60px) / 1);
}
.product-name {
  font-weight: 700;
  font-size: 18;
  line-height: 2;
  @extend %title;
}
.product-category {
  line-height: 1.8;
  @extend %subtitle;
}
@media (min-width: 1024px) {
  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding-top: 50px;
    @include vertical-padding;
  }
  .project {
    position: relative;
    overflow: hidden;
  }
  .project-overlay {
    position: absolute;
    inset: 0;
    background-color: $color-second-logo;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(100%);
    transition-duration: 250ms;
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .portfolio-item:hover .project-overlay {
    transform: translateY(0);
  }
  .project-text-overlay {
    max-width: 322px;
    font-size: 18px;
    line-height: 156%;
    letter-spacing: 0.03em;
    color: $color-header-bord;
    padding: 63px, 24px;
  }
  .portfolio-item {
    color: $color-second-logo;
  }
  .portfolio-item {
    background-color: $color-header-bord;
    flex-basis: calc((100% - 60px) / 3);
  }
  .product-name {
    font-weight: 700;
    font-size: 18;
    line-height: 2;
    @extend %title;
  }
  .product-category {
    line-height: 1.8;
    @extend %subtitle;
  }
}
