$color-text-title: #212121;

$color-bg-primary: #2f303a;

$color-text-add: #afb1b8;

$color-header-border: #ececec;

$color-team-section: #f5f4fa;

$color-second-logo: #2196f3;

$color-first-logo: #000000;

$color-text-main: #757575;

$color-header-bord: #ffffff;

$color-social-networks: #ffffff10;

$font-primary: "Roboto", serif;

$font-secondary: "Raleway", serif;
